<%= render 'nav' %>
<%= render 'show_header' %>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <%= simple_format(@blog.post) %>
              <%= edit_blog_helper %>
              <%= link_to 'Add Comment', new_blog_comment_path(@blog) %>
              <br>
              <h3><%= pluralize(@comments.count, 'Comment') %></h3>
              <hr>
              <%= render partial: 'comment', collection: @comments, locals: { blog: @blog } %>
            </div>
        </div>
    </div>
</article>
