<%= form_for ([@blog, @comment]) do |f| %>
  <div class="form-group">
    <%= f.label :remark %>
    <%= f.text_area :remark, class: "form-control" %>
  </div>
    <%= f.submit 'Submit',class: "btn btn-success pull-right" %>
    <%= link_to 'Back', blog_path(@blog), class: 'btn btn-default' %>
<% end %>
